
.sellButton {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #B70000);
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #B70000);
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.sellButton:pressed {
    -fx-background-color:
            linear-gradient(to bottom, #292929 0%, #1A1A1A 100%), /* Gradiente más oscuro para el clic */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.8), #A30000); /* Gradiente radial más oscuro */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto negro */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 0); /* Efecto de sombra ligeramente diferente */
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.7), #A30000); /* Borde con gradiente más oscuro */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.subscribe {
    -fx-background-color:
            linear-gradient(to bottom, #DAA520 0%, #FFD700 100%), /* Gradiente de gris a amarillo */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,225,0.9), #FFD700); /* Gradiente radial amarillo */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto negro, puedes cambiarlo si lo deseas */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,225,0.8), #FFD700); /* Borde con gradiente amarillo */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.subscribe:pressed {
    -fx-background-color:
            linear-gradient(to bottom, #B8860B 0%, #E3AC1D 100%), /* Gradiente más oscuro para el clic */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,225,0.8), #E3AC1D); /* Gradiente radial más oscuro */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto negro */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 0); /* Efecto de sombra ligeramente diferente */
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,225,0.7), #B8860B); /* Borde con gradiente más oscuro */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.downloadExcel {
    -fx-background-color:
            linear-gradient(to bottom, #4F6228 0%, #9BBB59 100%), /* Gradiente de verde oscuro a verde claro */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #9BBB59); /* Gradiente radial verde claro */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto negro */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #4F6228); /* Borde con gradiente verde oscuro */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.downloadExcel:pressed {
    -fx-background-color:
            linear-gradient(to bottom, #3E5120 0%, #6C8E4B 100%), /* Gradiente más oscuro para el clic */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.8), #6C8E4B); /* Gradiente radial más oscuro */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto negro */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 0); /* Efecto de sombra ligeramente diferente */
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.7), #3E5120); /* Borde con gradiente más oscuro */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.button-update {
    -fx-background-color:
            linear-gradient(to bottom, #1A1A1A 0%, #4D4D4D 100%), /* Gradiente de gris muy oscuro a gris medio-oscuro */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #4D4D4D); /* Gradiente radial gris medio-oscuro */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto blanco */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #1A1A1A); /* Borde con gradiente gris muy oscuro */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #1a1a1a);
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #171616);
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.button:hover {
    -fx-background-color:
            linear-gradient(to bottom, #232222 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #232121);
    -fx-text-fill: #4f4e4e;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
}

.button:pressed {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #1C531C);
    -fx-text-fill: #F7FF00;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
}

.button-update:pressed {
    -fx-background-color:
            linear-gradient(to bottom, #0D0D0D 0%, #333333 100%), /* Gradiente más oscuro para el clic */
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.8), #333333); /* Gradiente radial más oscuro */
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000; /* Color de texto blanco */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 0); /* Efecto de sombra ligeramente diferente */
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.7), #0D0D0D); /* Borde con gradiente más oscuro */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}


.sellButton:hover {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #DF0101);
    -fx-text-fill: #F7FF00;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
}

.buyButton {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #064A06);
    -fx-background-insets: 0, 1;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #064A06);
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.buyButton:hover {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #1C531C);
    -fx-text-fill: #F7FF00;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
}




.table-row-cell.row-success {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.table-row-cell.row-info {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.table-row-cell.row-error, .table-row-cell.row-fatal {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.table-row-cell.row-warn {
    -fx-background-color: orange;
    -fx-text-fill: black;
}

.root {
    -fx-base: #4f4d4d;
    -fx-background: #777676;
    -fx-text-base-color: #313131;
}

.tab-label {
    -fx-font-weight: bold;
}

.bold-label {
    -fx-font-weight: bold;
}

.button {
    -fx-font-weight: bold;
}

/* Estilo para el TableView */
.table-view {
    -fx-background-color: #413f3f;
}

.table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Estilo para las celdas alternas */
.table-row-cell:odd {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: #ffffff;
}

/* Estilo para las celdas pares */
.table-row-cell:even {
    -fx-background-color: #2a2929;
    -fx-text-fill: #e6e6e6;
}

/* Estilo para las celdas seleccionadas */
.table-row-cell:selected {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}

/* Estilo para las celdas no seleccionadas */
.table-row-cell:non-selected {
    -fx-background-color: #666666;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.buyOrder:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(0, 117, 2, 0.6), rgba(0, 117, 2, 0.8));
}

.buyOrder:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(0, 117, 2, 0.8), rgba(0, 117, 2, 1));
}

.sellOrder:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.8));
}

.sellOrder:pressed {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 1));
}


.label-bid-green {
    -fx-background-color: linear-gradient(to bottom, #3d3b3b, #383839);
    -fx-text-fill: #18fc00; /* Color de texto negro */
}

.label-ask-red {
    -fx-background-color: linear-gradient(to bottom, #3d3b3b, #383839);
    -fx-text-fill: #e50606;
}

.label-last {
    -fx-background-color: linear-gradient(to bottom, #383839, #383839);
    -fx-text-fill: #f3f0f0;
}



.button-start {
    -fx-background-color:
            linear-gradient(to bottom, #6c6a6a 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #1a1a1a);
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #171616);
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}


.button-stop {
    -fx-background-color:
            linear-gradient(to bottom, #5b5858 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(65, 62, 62, 0.9), #1a1a1a);
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #171616);
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.button-start:disabled {
    -fx-background-color: linear-gradient(to bottom, #006400 0%, #008000 100%);
    -fx-border-color: #005700;
}

.button-stop:disabled {
    -fx-background-color: linear-gradient(to bottom, #8B0000 0%, #B22222 100%);
    -fx-border-color: #7B0000;
}


.combo-box {
    -fx-background-color: linear-gradient(to bottom, #3A3A3A 0%, #202020 100%);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #171616);
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-text-fill: #fdfafa;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
}

.combo-box .arrow-button {
    -fx-background-color: linear-gradient(to bottom, #3A3A3A 0%, #202020 100%);
}

.combo-box .list-cell {
    -fx-background-color: linear-gradient(to bottom, #3A3A3A 0%, #202020 100%);
    -fx-text-fill: #a2a1a1;
}

.combo-box .list-cell:selected {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}



.buyOrder {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #064A06);
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #064A06);
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.buyOrder:hover {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 50% 50%, radius 100%, rgba(255,255,255,0.9), #1C531C);
    -fx-text-fill: #F7FF00;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
}

.sellOrder {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 10% 10%, radius 100%, rgba(255, 255, 255, 0.9), #B70000);
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 1);
    -fx-border-color: linear-gradient(to bottom, rgba(255,255,255,0.8), #B70000);
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.sellOrder:hover {
    -fx-background-color:
            linear-gradient(to bottom, #3A3A3A 0%, #202020 100%),
            radial-gradient(center 10% 10%, radius 100%, rgba(255, 255, 255, 0.9), #DF0101);
    -fx-text-fill: #F7FF00;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
}

.grid-pane {
    -fx-background-color: #2b2b2b;
    -fx-padding: 10px;
}

.form-pane {
    -fx-background-color: #1a1a1a;
    -fx-padding: 10px;
}

.form-pane .label {
    -fx-text-fill: #ffffff;
}

.form-pane .combo-box,
.form-pane .text-field {
    -fx-background-color: #181818;
    -fx-text-fill: #ffffff;
}

.form-pane .button {
    -fx-background-color: #212020;
    -fx-text-fill: #ffffff;
}

.form-pane .button {
    -fx-font-weight: bold;
}

.form-pane .vbox-button {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
    -fx-padding: 10px;
}

.black-hbox {
    -fx-background-color: #383838;
}

.white-background {
    -fx-control-inner-background: #ffffff;
    -fx-text-fill: #000000;
}
